apiclient==1.0.4
async-timeout==4.0.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
Deprecated==1.2.13
discovery==0.0.4
distlib==0.3.4
dnspython==2.2.1
filelock==3.4.0
Flask==2.0.3
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
Jinja2==3.0.3
newrelic=7.10.0.175
numpy==1.19.5
oauth2client==4.1.3
packaging==21.3
pandas==1.1.5
pika==1.2.0
platformdirs==2.4.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pymongo==4.0.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytest==6.0.0
pytz==2021.3
rabbitmq==0.2.0
redis==4.2.2
requests==2.5.0
rq==1.10.1
rsa==4.8
six==1.16.0
SQLAlchemy==1.4.32
urllib3==1.26.8
virtualenv==20.14.0
Werkzeug==2.0.3
wrapt==1.14.0
